<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @pedal.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @pedal.model %>
</p>

<%= link_to 'Edit', edit_pedal_path(@pedal) %> |
<%= link_to 'Back', pedals_path %>
