<%= form_for(@amp) do |f| %>
  <% if @amp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amp.errors.count, "error") %> prohibited this amp from being saved:</h2>

      <ul>
      <% @amp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :make %><br>
    <%= f.text_field :make %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
