<p id="notice"><%= notice %></p>

<h1>Listing Amps</h1>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @amps.each do |amp| %>
      <tr>
        <td><%= amp.make %></td>
        <td><%= amp.model %></td>
        <td><%= amp.year %></td>
        <td><%= link_to 'Show', amp %></td>
        <td><%= link_to 'Edit', edit_amp_path(amp) %></td>
        <td><%= link_to 'Destroy', amp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Amp', new_amp_path %>
